@model MVC.ReservaDeCine.Models.Funcion

@{
    ViewData["Title"] = "Editar función";
}

<h1>Funciones</h1>
<h4>Editar función</h4>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Funciones" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SalaId" class="control-label"></label>
                <select asp-for="SalaId" class="form-control" asp-items="ViewBag.SelectSalas" required autofocus></select>
                <span asp-validation-for="SalaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeliculaId" class="control-label"></label>
                <select asp-for="PeliculaId" class="form-control" asp-items="ViewBag.SelectPeliculas" required autofocus></select>
                <span asp-validation-for="PeliculaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" type="date" class="form-control" required autofocus />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horario" class="control-label"></label>
                <input asp-for="Horario" type="time" class="form-control" required autofocus />
                <span asp-validation-for="Horario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Funciones" asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
