
@{
    ViewData["Title"] = "No Hay Funciones";
}

<h3>No hay ninguna función disponible</h3>
<hr/>
<p>No te pierdas la oportunidad de visitar <i>SuperSmart Cines</i>, <a asp-controller="Funciones" asp-action="SeleccionarFiltro">intenta otras opciones.</a></p>

