
@{
    ViewData["Title"] = "Bienvenido";
}

<h3>¡Usuario creado con éxito!</h3>
<hr/>
<p>Bienvenido a la comunidad de <i>SuperSmart Cines</i>, iniciá sesión <a asp-controller="Cuentas" asp-action="Ingresar">aquí.</a></p>

